<div class="cardDiv" id="Projects">
    <mat-card-title class="cardTitle">PROJECTS</mat-card-title>
</div>
<body>
  <div class="box">
      <div class="card">
        <div class="imgBx">
            <img src="https://images.unsplash.com/photo-1532123675048-773bd75df1b4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="images">
        </div>
        <div class="details">
            <h2>PORTFOLIO<br><span>Director</span></h2>
        </div>
      </div>
    
       <div class="card">
         <div class="imgBx">
            <img src="https://images.unsplash.com/photo-1549417229-aa67d3263c09?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="images">
         </div>
         <div class="details">
            <h2>ROADSIDE ASSISTANCE<br><span>Producer</span></h2>
          </div>
       </div>
       <div class="card">
        <div class="imgBx">
           <img src="https://images.unsplash.com/photo-1549417229-aa67d3263c09?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="images">
        </div>
        <div class="details">
           <h2>INSTACART<br><span>Producer</span></h2>
         </div>
      </div>
      <div class="card">
        <div class="imgBx">
           <img src="https://images.unsplash.com/photo-1549417229-aa67d3263c09?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="images">
        </div>
        <div class="details">
           <h2>MEDSYS<br><span>Producer</span></h2>
         </div>
      </div>
      <div class="card">
        <div class="imgBx">
           <img src="https://images.unsplash.com/photo-1549417229-aa67d3263c09?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="images">
        </div>
        <div class="details">
           <h2>SPREADSHEET<br><span>Producer</span></h2>
         </div>
      </div>
      <div class="card">
        <div class="imgBx">
           <img src="https://images.unsplash.com/photo-1549417229-aa67d3263c09?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="images">
        </div>
        <div class="details">
           <h2>TO DO APP<br><span>Producer</span></h2>
         </div>
      </div>
      <div class="card">
        <div class="imgBx">
           <img src="https://images.unsplash.com/photo-1549417229-aa67d3263c09?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="images">
        </div>
        <div class="details">
           <h2>DENTAL MANAGEMENT SYSTEM<br><span>Producer</span></h2>
           Lorem ipsum dolor sit, amet consectetur adipisicing elit. Qui in minus iusto quibusdam cum delectus pariatur quae recusandae explicabo veniam eius dolore eveniet et velit aliquid est, nam inventore nemo.
         </div>
      </div>
      <div class="card">
        <div class="imgBx">
           <img src="https://images.unsplash.com/photo-1549417229-aa67d3263c09?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="images">
        </div>
        <div class="details">
           <h2>UTILITY PAGE<br><span>Producer</span></h2>
         </div>
      </div>
 
  </div>
</body>
