<html>
  <head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/v4-shims.css">
  </head>
<body>
  <h1 class = 'text_fade'>Sridhar Prasad Panneerselvam</h1>
  <br>
   <h3 class = 'text_fade'>
    <i>Software Engineer | Full Stack Developer<br><br><br>since 2016</i>
  </h3>
   <br><br>
  <div class="work">
    <a class="button unselectable" href="#projects">
      Let's get started <i class="fas fa-angle-down"></i>
    </a>
  </div>
  <div></div>
  <div></div>
</body>
</html>
  