<div class="navbar">
    <a href="#Home" class="home">Sridhar's Profile</a>
    <a href="profile#About" class="nav">About</a>
    <a href="profile#Skills"class="nav">Skills</a>
    <a href="profile#Experience" class="nav">Timeline</a>
    <a href="profile#Education" class="nav">Education</a>
    <a href="profile#Work" class="nav">Experience</a>
    <a href="profile#Projects" class="nav">Projects</a>
    <a href="profile#Contact" class="nav">Contact</a>
    <a href="https://drive.google.com/open?id=17OfUJtUQcLZTh48ho1bvOmm01bll4rFb" target="_blank" rel="noopener noreferrer" class="nav">Resume</a>    
</div>

